body {
  margin: 0;
  /* overflow: hidden; */
  background: transparent;
}

.upload-image-container {
  background-color: transparent;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  /* width: 100% !important; */
  height: 100vh;
  overflow: auto;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  overflow-x: hidden !important;
}

.ad-photo-container {
  border: 4px dashed #E9E9E9;
  border-spacing: 12px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 40px 250px;
  border-radius: 30px;
}

.new-line {
  display: block;
  color: white;
  font-size: 22px !important;
  font-weight: 600 !important;
}

.ad-selected-img {
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 20px;
  border: 2px solid white;
}

.ad-img-cross-icon {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload-div {
  width: 2600px;
  background-color: #4B5320;
  border-radius: 20px;
  padding: 30px;
}

@media (max-width: 576px) {
  .image-upload-div {
    width: 500px !important;
  }

  .new-line{
    font-size: 12px !important;
  }
}

@media (max-width: 490px) {
  .image-upload-div {
    width: 450px !important;
  }
}

.remove-file {
  margin-left: 20px;
  color: black;
}

@media (max-width: 767px) {
  .ad-photo-container {
    padding: 20px 150px;
  }
}

.media-img {
  width: 450px;
  height: 300px;
  margin: 10px;
  border: 10px solid #4B5320;
  /* -webkit-filter: sepia(100%); */
  /* filter: sepia(100%); */
  transition-duration: 1s;
}

.media-img:hover {
  border: 5px solid #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: none;
  filter: none;
}

.media-btn {
  background-color: #fff !important;
  border-radius: 30px !important;
  color: black !important;
  padding: 12px 30px !important;
}

.media-btn:hover {
  background-color: aliceblue;
}

.button-group {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}